# Requirements to install anuga in read the docs

cython
pybind11
dill
future
gitpython
matplotlib
meshpy
nbsphinx
netcdf4
numpy
Pmw
pymetis
pytest
pytz
scipy
setuptools
sphinx
utm
wheel

tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
