# Requirements to install anuga in read the docs

cython
pybind11
dill
future
gitpython
matplotlib
meshpy
nbsphinx
sphinx_rtd_theme
netcdf4
numpy
Pmw
pymetis
pytest
pytz
scipy
setuptools
sphinx
utm
affine
wheel

fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
